<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhihao.newretail.user.dao.UserLevelMapper">
  <resultMap id="BaseResultMap" type="com.zhihao.newretail.user.pojo.UserLevel">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="level" jdbcType="VARCHAR" property="level" />
    <result column="discount" jdbcType="DECIMAL" property="discount" />
  </resultMap>

  <sql id="Base_Column_List">
    id, level, discount
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_user_level
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_user_level
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.zhihao.newretail.user.pojo.UserLevel">
    insert into tb_user_level (id, level, discount
      )
    values (#{id,jdbcType=INTEGER}, #{level,jdbcType=VARCHAR}, #{discount,jdbcType=DECIMAL}
      )
  </insert>

  <insert id="insertSelective" parameterType="com.zhihao.newretail.user.pojo.UserLevel">
    insert into tb_user_level
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="discount != null">
        discount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="level != null">
        #{level,jdbcType=VARCHAR},
      </if>
      <if test="discount != null">
        #{discount,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.zhihao.newretail.user.pojo.UserLevel">
    update tb_user_level
    <set>
      <if test="level != null">
        level = #{level,jdbcType=VARCHAR},
      </if>
      <if test="discount != null">
        discount = #{discount,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.zhihao.newretail.user.pojo.UserLevel">
    update tb_user_level
    set level = #{level,jdbcType=VARCHAR},
      discount = #{discount,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
