<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhihao.newretail.product.dao.SkuStockMapper">
  <resultMap id="BaseResultMap" type="com.zhihao.newretail.product.pojo.SkuStock">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="sku_id" jdbcType="INTEGER" property="skuId" />
    <result column="actual_stock" jdbcType="INTEGER" property="actualStock" />
    <result column="lock_stock" jdbcType="INTEGER" property="lockStock" />
    <result column="stock" jdbcType="INTEGER" property="stock" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, sku_id, actual_stock, lock_stock, stock, is_delete, create_time, update_time
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_sku_stock
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_sku_stock
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.zhihao.newretail.product.pojo.SkuStock">
    insert into tb_sku_stock (id, sku_id, actual_stock, 
      lock_stock, stock, is_delete, 
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{skuId,jdbcType=INTEGER}, #{actualStock,jdbcType=INTEGER}, 
      #{lockStock,jdbcType=INTEGER}, #{stock,jdbcType=INTEGER}, #{isDelete,jdbcType=TINYINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>

  <insert id="insertSelective" parameterType="com.zhihao.newretail.product.pojo.SkuStock">
    insert into tb_sku_stock
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="skuId != null">
        sku_id,
      </if>
      <if test="actualStock != null">
        actual_stock,
      </if>
      <if test="lockStock != null">
        lock_stock,
      </if>
      <if test="stock != null">
        stock,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="skuId != null">
        #{skuId,jdbcType=INTEGER},
      </if>
      <if test="actualStock != null">
        #{actualStock,jdbcType=INTEGER},
      </if>
      <if test="lockStock != null">
        #{lockStock,jdbcType=INTEGER},
      </if>
      <if test="stock != null">
        #{stock,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.zhihao.newretail.product.pojo.SkuStock">
    update tb_sku_stock
    <set>
      <if test="skuId != null">
        sku_id = #{skuId,jdbcType=INTEGER},
      </if>
      <if test="actualStock != null">
        actual_stock = #{actualStock,jdbcType=INTEGER},
      </if>
      <if test="lockStock != null">
        lock_stock = #{lockStock,jdbcType=INTEGER},
      </if>
      <if test="stock != null">
        stock = #{stock,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.zhihao.newretail.product.pojo.SkuStock">
    update tb_sku_stock
    set sku_id = #{skuId,jdbcType=INTEGER},
      actual_stock = #{actualStock,jdbcType=INTEGER},
      lock_stock = #{lockStock,jdbcType=INTEGER},
      stock = #{stock,jdbcType=INTEGER},
      is_delete = #{isDelete,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectBySkuId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_sku_stock
    where sku_id = #{skuId,jdbcType=INTEGER} for update
  </select>

  <select id="selectListBySkuIdSet" parameterType="java.util.Set" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_sku_stock
    where is_delete = 0
    <foreach collection="SkuIdSet" item="item" open="and" separator="or">
      sku_id = #{item}
    </foreach>
    for update
  </select>

  <update id="updateBatch" parameterType="java.util.List">
    <foreach collection="skuStockList" item="item" index="index" separator=";">
      update `tb_sku_stock`
      <set>
        <if test="item.skuId != null">
          `sku_id` = #{item.skuId,jdbcType=INTEGER},
        </if>
        <if test="item.actualStock != null">
          `actual_stock` = #{item.actualStock,jdbcType=INTEGER},
        </if>
        <if test="item.lockStock != null">
          `lock_stock` = #{item.lockStock,jdbcType=INTEGER},
        </if>
        <if test="item.stock != null">
          `stock` = #{item.stock,jdbcType=INTEGER},
        </if>
        <if test="item.isDelete != null">
          `is_delete` = #{item.isDelete,jdbcType=TINYINT},
        </if>
        <if test="item.createTime != null">
          `create_time` = #{item.createTime,jdbcType=TIMESTAMP},
        </if>
        <if test="item.updateTime != null">
          `update_time` = #{item.updateTime,jdbcType=TIMESTAMP},
        </if>
      </set>
      where `id` = #{item.id,jdbcType=INTEGER}
    </foreach>
  </update>
</mapper>
