<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhihao.newretail.product.dao.SpuMapper">
  <resultMap id="BaseResultMap" type="com.zhihao.newretail.product.pojo.Spu">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="sub_title" jdbcType="VARCHAR" property="subTitle" />
    <result column="is_saleable" jdbcType="TINYINT" property="isSaleable" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <resultMap id="SpuSpuInfo" type="com.zhihao.newretail.product.pojo.Spu">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="sub_title" jdbcType="VARCHAR" property="subTitle" />
    <result column="is_saleable" jdbcType="TINYINT" property="isSaleable" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <association column="tb_spu_info" javaType="com.zhihao.newretail.product.pojo.SpuInfo" property="spuInfo" resultMap="SpuInfo" />
  </resultMap>

  <resultMap id="SpuSpuInfoSkuList" type="com.zhihao.newretail.product.pojo.Spu">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="sub_title" jdbcType="VARCHAR" property="subTitle" />
    <result column="is_saleable" jdbcType="TINYINT" property="isSaleable" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <association column="tb_spu_info" javaType="com.zhihao.newretail.product.pojo.SpuInfo" property="spuInfo" resultMap="SpuInfo" />
    <collection column="tb_sku" ofType="com.zhihao.newretail.product.pojo.Sku" property="skuList" resultMap="Sku" />
  </resultMap>

  <resultMap id="SpuInfo" type="com.zhihao.newretail.product.pojo.SpuInfo">
    <id column="spuInfoId" jdbcType="INTEGER" property="id" />
    <result column="spu_id" jdbcType="INTEGER" property="spuId" />
    <result column="show_image" jdbcType="VARCHAR" property="showImage" />
    <result column="slider_image" jdbcType="VARCHAR" property="sliderImage" />
    <result column="detail_title" jdbcType="VARCHAR" property="detailTitle" />
    <result column="detail_pram" jdbcType="VARCHAR" property="detailPram" />
    <result column="detail_image" jdbcType="VARCHAR" property="detailImage" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
  </resultMap>

  <resultMap id="Sku" type="com.zhihao.newretail.product.pojo.Sku">
    <id column="skuId" jdbcType="INTEGER" property="id" />
    <result column="spu_id" jdbcType="INTEGER" property="spuId" />
    <result column="sku_image" jdbcType="VARCHAR" property="skuImage" />
    <result column="param" jdbcType="VARCHAR" property="param" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="is_saleable" jdbcType="TINYINT" property="isSaleable" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, category_id, title, sub_title, is_saleable, is_delete, create_time, update_time
  </sql>

  <sql id="Spu_SpuInfo">
    select
      s.id, s.category_id, s.title, s.sub_title, s.is_saleable, s.is_delete, s.create_time, s.update_time,
      sif.id as spuinfoid, sif.spu_id, sif.show_image, sif.slider_image, sif.detail_title, sif.detail_pram, sif.detail_image, sif.is_delete
    from
      tb_spu as s
        left join tb_spu_info as sif on s.id = sif.spu_id
  </sql>

  <sql id="Spu_SpuInfo_SkuList">
    select
      s.id, s.category_id, s.title, s.sub_title, s.is_saleable, s.is_delete, s.create_time, s.update_time,
      sif.id as spuinfoid, sif.spu_id, sif.show_image, sif.slider_image, sif.detail_title, sif.detail_pram, sif.detail_image, sif.is_delete,
      sku.id as skuid, sku.spu_id, sku.sku_image, sku.param, sku.price, sku.is_saleable, sku.is_delete, sku.create_time, sku.update_time
    from
      tb_spu as s
        left join tb_spu_info as sif on s.id = sif.spu_id
        left join tb_sku as sku on s.id = sku.spu_id
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_spu
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_spu
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.zhihao.newretail.product.pojo.Spu">
    insert into tb_spu (id, category_id, title, 
      sub_title, is_saleable, is_delete, 
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{categoryId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{subTitle,jdbcType=VARCHAR}, #{isSaleable,jdbcType=TINYINT}, #{isDelete,jdbcType=TINYINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>

  <insert id="insertSelective" parameterType="com.zhihao.newretail.product.pojo.Spu" useGeneratedKeys="true" keyProperty="id">
    insert into tb_spu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="subTitle != null">
        sub_title,
      </if>
      <if test="isSaleable != null">
        is_saleable,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="subTitle != null">
        #{subTitle,jdbcType=VARCHAR},
      </if>
      <if test="isSaleable != null">
        #{isSaleable,jdbcType=TINYINT},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.zhihao.newretail.product.pojo.Spu">
    update tb_spu
    <set>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="subTitle != null">
        sub_title = #{subTitle,jdbcType=VARCHAR},
      </if>
      <if test="isSaleable != null">
        is_saleable = #{isSaleable,jdbcType=TINYINT},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.zhihao.newretail.product.pojo.Spu">
    update tb_spu
    set category_id = #{categoryId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      sub_title = #{subTitle,jdbcType=VARCHAR},
      is_saleable = #{isSaleable,jdbcType=TINYINT},
      is_delete = #{isDelete,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="countByCategoryId" parameterType="java.lang.Integer" resultType="int">
    select
    count(*)
    from tb_spu
    <where>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=INTEGER}
      </if>
    </where>
  </select>

  <select id="selectListByIdSet" parameterType="java.util.Set" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_spu
    where is_saleable = 1
    <foreach collection="idSet" item="item" open="and" separator="or">
      id = #{item}
    </foreach>
  </select>

  <select id="selectSpuSpuInfoListByCategoryIdSet" parameterType="java.util.Set" resultMap="SpuSpuInfo">
    <include refid="Spu_SpuInfo" />
    where
    <foreach collection="categoryIdSet" item="item" index="index" separator="or">
      s.category_id = #{item}
    </foreach>
    order by s.create_time desc
  </select>

  <select id="selectSpuSpuInfoListByCategoryId" parameterType="java.lang.Integer" resultMap="SpuSpuInfo">
    <include refid="Spu_SpuInfo" />
    <if test="categoryId != null">
      where s.category_id = #{categoryId,jdbcType=INTEGER}
    </if>
  </select>

  <select id="selectSpuSpuInfoSkuListByCategoryId" parameterType="java.lang.Integer" resultMap="SpuSpuInfoSkuList">
    <include refid="Spu_SpuInfo_SkuList" />
    <if test="categoryId != null">
      where s.category_id = #{categoryId,jdbcType=INTEGER}
    </if>
    <if test="pageNum != null and pageSize != null">
      <bind name="page_start" value="(pageNum - 1) * pageSize"/>
      limit #{page_start}, #{pageSize,jdbcType=INTEGER}
    </if>
  </select>

  <select id="selectSpuSpuInfoByPrimaryKey" parameterType="java.lang.Integer" resultMap="SpuSpuInfo">
    <include refid="Spu_SpuInfo" />
    where s.id = #{id,jdbcType=INTEGER}
  </select>
</mapper>
